
:root {
  --las__text-RGB:        5, 5, 5;            
  --las__accent-RGB:       	112,	72,	232;
  --las__surface-RGB:     238, 240, 242; 
  --las__elevated-RGB:     238, 240, 242; 
  --las__white-RGB:   255, 255, 255;
}
