.las {
    
  /* Отступ для контента над фиксированным footer */
  & main {
    padding-bottom: 8rem;
    padding-top: 8em;
  }


  & h3 {
    font-size: 1.8em;
    font-weight: 450;
    line-height:  1.2;
  }



button {
  padding: 0.8em 1.6em;
  font-size: 1em;
  font-weight: 450;
  cursor: pointer;
  border-radius: 2em;
  border: none;
  background-color: rgba(var(--las__accent-RGB), 0.8);
  color: rgba(var(--las__white-RGB), 1);
  transition: transform 0.2s ease-in-out;
  position: relative;
  z-index: 1;
}

button:hover {
  background-color: rgba(var(--las__accent-RGB), 1);
  transform: scale(1.05);
}

button:active {
  transform: scale(1); /* Увеличение при клике */
}

}

.quote-container {
  background-color: rgba(var(--las__surface-RGB), 1);;
  border-radius: 2em;
  padding: 1em 3em;
  min-height: 6em;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  box-sizing: border-box;
}
